<section class="section-container">
  <h2 class="section-title">Checklists</h2>
  <div class="chl-tools">
    <p-button
      label="Añadir checklist"
      (click)="goNew()"
      [styleClass]="
        [pBtnSty().base, pBtnSty().variants['zt-primary']].join(' ')
      "
    />
  </div>

  @if (loading) {
  <p class="section-loading">Cargando…</p>
  } @if (error) {
  <p>{{ error }}</p>
  } @if (!loading && data.length) {
  <ul class="chl-list-grid">
    @for (c of data; track c.id) {
    <li class="chl-card">
      <div class="chl-card header">
        <div class="chl-card-title">
          <strong (click)="openDetails(c.id)">{{ c.title }}</strong>
          <small>{{ c.createdAt | date : "short" }}</small>
        </div>
        <div class="chl-card-actions">
          <p-button
            icon="pi pi-pencil"
            (click)="goEdit(c.id)"
            [styleClass]="
              [
                pIconBtnSty().base,
                pIconBtnSty().square.base,
                pIconBtnSty().square.variants['zt-success']
              ].join(' ')
            "
          />
          <p-button
            icon="pi pi-trash"
            (click)="delete(c.id)"
            [styleClass]="
              [
                pIconBtnSty().base,
                pIconBtnSty().square.base,
                pIconBtnSty().square.variants['zt-error']
              ].join(' ')
            "
          />
        </div>
      </div>
      @if (c.description && c.description.length > 0) {
      <div class="chl-card-description">
        <p class="chl-card-description title">{{ description() }}</p>
        <p class="chl-card-description content">{{ c.description }}</p>
      </div>
      }
      <p-button
        label="Abrir"
        (click)="openDetails(c.id)"
        [styleClass]="
          [pBtnSty().base, pBtnSty().variants['zt-primary'], 'w-full'].join(' ')
        "
      />
    </li>
    }
  </ul>
  } @else if (!loading) {
  <p>Sin registros.</p>
  }
</section>
