<section class="section-container">
  <div class="chl-form-tools">
    <p-button
      icon="pi pi-chevron-left"
      (click)="back()"
      [styleClass]="
        [
          pIconBtnSty().base,
          pIconBtnSty().rounded.base,
          pIconBtnSty().rounded.variants['zt-primary']
        ].join(' ')
      "
    />
    <h2 class="section-title">{{ pageTitle() }}</h2>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="save()"
    class="flex flex-col gap-4 justify-start"
  >
    <div class="flex flex-col gap-1">
      <div class="flex justify-between items-center px-2">
        <label
          >Título <span class="text-error-500 font-semibold">*</span></label
        >
        @if (form.controls.title.touched && form.controls.title.invalid) {
        <small class="error">Requerido, máx. 120 caracteres</small>
        }
      </div>
      <input type="text" formControlName="title" />
    </div>

    <div class="flex flex-col gap-1">
      <div class="flex justify-between items-center px-2">
        <label
          >Descripción
          <span class="text-neutral-300 italic text-sm">(opcional)</span></label
        >
        @if (form.controls.description.touched &&
        form.controls.description.invalid) {
        <div class="error">Máx. 500 caracteres</div>
        }
      </div>
      <textarea formControlName="description" rows="3"></textarea>
    </div>

    <div class="flex items-center gap-4 mt-6 justify-between">
      <p-button
        label="{{ submitLabel() }}"
        type="submit"
        disabled="{{ isDisabled() }}"
        [styleClass]="
          [
            pBtnSty().base,
            isDisabled()
              ? pBtnSty().variants['zt-disabled']
              : pBtnSty().variants['zt-success']
          ].join(' ')
        "
      />
      <p-button
        label="Cancelar"
        type="button"
        (click)="cancel()"
        [styleClass]="
          [pBtnSty().base, pBtnSty().variants['zt-error']].join(' ')
        "
      />
    </div>
  </form>
</section>
