.chl-tools {
  @apply flex justify-start mb-2;
}

.chl-list-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6;
}

.chl-card {
  @apply flex flex-col bg-white shadow-md rounded-lg p-6 gap-6;

  &.header {
    @apply flex flex-row gap-2 bg-secondary-100 justify-between;
  }
}

.chl-card-title {
  @apply flex flex-col gap-0;

  & strong {
    @apply font-semibold text-gray-800 text-lg mb-2 select-none;
  }

  & strong:hover {
    @apply text-primary underline cursor-pointer transition-all duration-200;
  }

  & small {
    @apply text-sm text-secondary-600;
  }
}

.chl-card-actions {
  @apply flex items-center gap-1;
}

.chl-card-description {
  @apply flex flex-col gap-2 px-2;

  &.title {
    @apply text-gray-600 flex-grow font-bold;
  }

  &.content {
    @apply text-gray-400 italic font-normal overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

p-button {
  @apply mt-auto;
}
